*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	border-spacing:0px;
	vertical-align:middle;
}

div:before{display:block;content:".";font-size:0px}
div:after{display:block;content:".";font-size:0px}
section:before{display:block;content:".";font-size:0px}
section:after{display:block;content:".";font-size:0px}

/* display */
.block{display:block}
.inline-block{display:inline-block}

/* columns */
.cols{height:100%}
.cols:before{display:block;content:".";font-size:0px}
.cols:after{display:block;content:".";font-size:0px;clear:both}
.cols>*{height:100%;min-height:1px}
.col-l{float:left}
.col-l-1{width:8.3332%;float:left}
.col-l-2{width:16.6667%;float:left}
.col-l-3{width:25%;float:left}
.col-l-4{width:33.3332%;float:left}
.col-l-5{width:41.6667%;float:left}
.col-l-6{width:50%;float:left}
.col-l-7{width:58.3332%;float:left}
.col-l-8{width:66.6667%;float:left}
.col-l-9{width:75%;float:left}
.col-l-10{width:83.3332%;float:left}
.col-l-11{width:91.6667%;float:left}
.col-l-12{width:100%;float:left}
.col-r{float:right}
.col-r-1{width:8.3332%;float:right}
.col-r-2{width:16.6667%;float:right}
.col-r-3{width:25%;float:right}
.col-r-4{width:33.3332%;float:right}
.col-r-5{width:41.6667%;float:right}
.col-r-6{width:50%;float:right}
.col-r-7{width:58.3332%;float:right}
.col-r-8{width:66.6667%;float:right}
.col-r-9{width:75%;float:right}
.col-r-10{width:83.3332%;float:right}
.col-r-11{width:91.6667%;float:right}
.col-r-12{width:100%;float:right}

/* margin */
.mar-a-c,.mar-a-l{margin-right:auto!important}
.mar-a-c,.mar-a-r{margin-left:auto!important}
.mar-a-m,.mar-a-t{margin-bottom:auto!important}
.mar-a-m,.mar-a-b{margin-top:auto!important}
.mar-0px,.mar-0px-h,.mar-0px-l{margin-left:0px!important}
.mar-0px,.mar-0px-h,.mar-0px-r{margin-right:0px!important}
.mar-0px,.mar-0px-v,.mar-0px-t{margin-top:0px!important}
.mar-0px,.mar-0px-v,.mar-0px-b{margin-bottom:0px!important}
.mar-2px,.mar-2px-h,.mar-2px-l{margin-left:2px!important}
.mar-2px,.mar-2px-h,.mar-2px-r{margin-right:2px!important}
.mar-2px,.mar-2px-v,.mar-2px-t{margin-top:2px!important}
.mar-2px,.mar-2px-v,.mar-2px-b{margin-bottom:2px!important}
.mar-4px,.mar-4px-h,.mar-4px-l{margin-left:4px!important}
.mar-4px,.mar-4px-h,.mar-4px-r{margin-right:4px!important}
.mar-4px,.mar-4px-v,.mar-4px-t{margin-top:4px!important}
.mar-4px,.mar-4px-v,.mar-4px-b{margin-bottom:4px!important}
.mar-8px,.mar-8px-h,.mar-8px-l{margin-left:8px!important}
.mar-8px,.mar-8px-h,.mar-8px-r{margin-right:8px!important}
.mar-8px,.mar-8px-v,.mar-8px-t{margin-top:8px!important}
.mar-8px,.mar-8px-v,.mar-8px-b{margin-bottom:8px!important}
.mar-16px,.mar-16px-h,.mar-16px-l{margin-left:16px!important}
.mar-16px,.mar-16px-h,.mar-16px-r{margin-right:16px!important}
.mar-16px,.mar-16px-v,.mar-16px-t{margin-top:16px!important}
.mar-16px,.mar-16px-v,.mar-16px-b{margin-bottom:16px!important}
.mar-32px,.mar-32px-h,.mar-32px-l{margin-left:32px!important}
.mar-32px,.mar-32px-h,.mar-32px-r{margin-right:32px!important}
.mar-32px,.mar-32px-v,.mar-32px-t{margin-top:32px!important}
.mar-32px,.mar-32px-v,.mar-32px-b{margin-bottom:32px!important}
.mar-64px,.mar-64px-h,.mar-64px-l{margin-left:64px!important}
.mar-64px,.mar-64px-h,.mar-64px-r{margin-right:64px!important}
.mar-64px,.mar-64px-v,.mar-64px-t{margin-top:64px!important}
.mar-64px,.mar-64px-v,.mar-64px-b{margin-bottom:64px!important}
.-mar-2px,.-mar-2px-h,.-mar-2px-l{margin-left:-2px!important}
.-mar-2px,.-mar-2px-h,.-mar-2px-r{margin-right:-2px!important}
.-mar-2px,.-mar-2px-v,.-mar-2px-t{margin-top:-2px!important}
.-mar-2px,.-mar-2px-v,.-mar-2px-b{margin-bottom:-2px!important}
.-mar-4px,.-mar-4px-h,.-mar-4px-l{margin-left:-4px!important}
.-mar-4px,.-mar-4px-h,.-mar-4px-r{margin-right:-4px!important}
.-mar-4px,.-mar-4px-v,.-mar-4px-t{margin-top:-4px!important}
.-mar-4px,.-mar-4px-v,.-mar-4px-b{margin-bottom:-4px!important}
.-mar-8px,.-mar-8px-h,.-mar-8px-l{margin-left:-8px!important}
.-mar-8px,.-mar-8px-h,.-mar-8px-r{margin-right:-8px!important}
.-mar-8px,.-mar-8px-v,.-mar-8px-t{margin-top:-8px!important}
.-mar-8px,.-mar-8px-v,.-mar-8px-b{margin-bottom:-8px!important}
.-mar-16px,.-mar-16px-h,.-mar-16px-l{margin-left:-16px!important}
.-mar-16px,.-mar-16px-h,.-mar-16px-r{margin-right:-16px!important}
.-mar-16px,.-mar-16px-v,.-mar-16px-t{margin-top:-16px!important}
.-mar-16px,.-mar-16px-v,.-mar-16px-b{margin-bottom:-16px!important}
.-mar-32px,.-mar-32px-h,.-mar-32px-l{margin-left:-32px!important}
.-mar-32px,.-mar-32px-h,.-mar-32px-r{margin-right:-32px!important}
.-mar-32px,.-mar-32px-v,.-mar-32px-t{margin-top:-32px!important}
.-mar-32px,.-mar-32px-v,.-mar-32px-b{margin-bottom:-32px!important}
.-mar-64px,.-mar-64px-h,.-mar-64px-l{margin-left:-64px!important}
.-mar-64px,.-mar-64px-h,.-mar-64px-r{margin-right:-64px!important}
.-mar-64px,.-mar-64px-v,.-mar-64px-t{margin-top:-64px!important}
.-mar-64px,.-mar-64px-v,.-mar-64px-b{margin-bottom:-64px!important}

/* padding */
.pad-0px,.pad-0px-h,.pad-0px-l{padding-left:0px!important}
.pad-0px,.pad-0px-h,.pad-0px-r{padding-right:0px!important}
.pad-0px,.pad-0px-v,.pad-0px-t{padding-top:0px!important}
.pad-0px,.pad-0px-v,.pad-0px-b{padding-bottom:0px!important}
.pad-2px,.pad-2px-h,.pad-2px-l{padding-left:2px!important}
.pad-2px,.pad-2px-h,.pad-2px-r{padding-right:2px!important}
.pad-2px,.pad-2px-v,.pad-2px-t{padding-top:2px!important}
.pad-2px,.pad-2px-v,.pad-2px-b{padding-bottom:2px!important}
.pad-4px,.pad-4px-h,.pad-4px-l{padding-left:4px!important}
.pad-4px,.pad-4px-h,.pad-4px-r{padding-right:4px!important}
.pad-4px,.pad-4px-v,.pad-4px-t{padding-top:4px!important}
.pad-4px,.pad-4px-v,.pad-4px-b{padding-bottom:4px!important}
.pad-8px,.pad-8px-h,.pad-8px-l{padding-left:8px!important}
.pad-8px,.pad-8px-h,.pad-8px-r{padding-right:8px!important}
.pad-8px,.pad-8px-v,.pad-8px-t{padding-top:8px!important}
.pad-8px,.pad-8px-v,.pad-8px-b{padding-bottom:8px!important}
.pad-16px,.pad-16px-h,.pad-16px-l{padding-left:16px!important}
.pad-16px,.pad-16px-h,.pad-16px-r{padding-right:16px!important}
.pad-16px,.pad-16px-v,.pad-16px-t{padding-top:16px!important}
.pad-16px,.pad-16px-v,.pad-16px-b{padding-bottom:16px!important}
.pad-32px,.pad-32px-h,.pad-32px-l{padding-left:32px!important}
.pad-32px,.pad-32px-h,.pad-32px-r{padding-right:32px!important}
.pad-32px,.pad-32px-v,.pad-32px-t{padding-top:32px!important}
.pad-32px,.pad-32px-v,.pad-32px-b{padding-bottom:32px!important}
.pad-64px,.pad-64px-h,.pad-64px-l{padding-left:64px!important}
.pad-64px,.pad-64px-h,.pad-64px-r{padding-right:64px!important}
.pad-64px,.pad-64px-v,.pad-64px-t{padding-top:64px!important}
.pad-64px,.pad-64px-v,.pad-64px-b{padding-bottom:64px!important}

/* line height */
.lh-0px{line-height:0px!important}
.lh-2px{line-height:2px!important}
.lh-4px{line-height:4px!important}
.lh-8px{line-height:8px!important}
.lh-16px{line-height:16px!important}
.lh-24px{line-height:24px!important}
.lh-32px{line-height:32px!important}
.lh-40px{line-height:40px!important}
.lh-48px{line-height:48px!important}
.lh-56px{line-height:56px!important}
.lh-64px{line-height:64px!important}

/* font size */
.fs-xxxxxs{font-size:10px}
.fs-xxxxs{font-size:11px}
.fs-xxxs{font-size:12px}
.fs-xxs{font-size:13px}
.fs-xs{font-size:14px}
.fs-s{font-size:15px}
.fs-m{font-size:16px}
.fs-l{font-size:20px}
.fs-xl{font-size:24px}
.fs-xxl{font-size:28px}
.fs-xxxl{font-size:32px}

/* width */
.w-50p{width:50%}
.w-100p{width:100%}

/* height */
.h-50p{height:50%}
.h-100p{height:100%}
.h-64px{height:64px}

/* text alignment*/
.ta-l{text-align:left}
.ta-c{text-align:center}
.ta-r{text-align:right}
.ta-j{text-align:justify}

/* vertical alignment */
.va-t{vertical-align:top}
.va-m{vertical-align:middle}
.va-b{vertical-align:bottom}

/* positioning method */
.rel{position:relative}

/* visibility */
.xxxs{display:none!important}
.xxs{display:none!important}
.xs{display:none!important}
.s{display:none!important}
.m{display:none!important}
.l{display:none!important}
.xl{display:none!important}
.xxl{display:none!important}
.xxxl{display:none!important}

/* min xxxs */
@media (min-width: 0px)
{
	/* columns */
	.col-l-xxxs-min{float:left}
	.col-l-xxxs-min-1{width:8.3332%;float:left}
	.col-l-xxxs-min-2{width:16.6667%;float:left}
	.col-l-xxxs-min-3{width:25%;float:left}
	.col-l-xxxs-min-4{width:33.3332%;float:left}
	.col-l-xxxs-min-5{width:41.6667%;float:left}
	.col-l-xxxs-min-6{width:50%;float:left}
	.col-l-xxxs-min-7{width:58.3332%;float:left}
	.col-l-xxxs-min-8{width:66.6667%;float:left}
	.col-l-xxxs-min-9{width:75%;float:left}
	.col-l-xxxs-min-10{width:83.3332%;float:left}
	.col-l-xxxs-min-11{width:91.6667%;float:left}
	.col-l-xxxs-min-12{width:100%;float:left}
	.col-r-xxxs-min{float:right}
	.col-r-xxxs-min-1{width:8.3332%;float:right}
	.col-r-xxxs-min-2{width:16.6667%;float:right}
	.col-r-xxxs-min-3{width:25%;float:right}
	.col-r-xxxs-min-4{width:33.3332%;float:right}
	.col-r-xxxs-min-5{width:41.6667%;float:right}
	.col-r-xxxs-min-6{width:50%;float:right}
	.col-r-xxxs-min-7{width:58.3332%;float:right}
	.col-r-xxxs-min-8{width:66.6667%;float:right}
	.col-r-xxxs-min-9{width:75%;float:right}
	.col-r-xxxs-min-10{width:83.3332%;float:right}
	.col-r-xxxs-min-11{width:91.6667%;float:right}
	.col-r-xxxs-min-12{width:100%;float:right}

	/* font size */
	.fs-a-xxxxxs{font-size:10px}
	.fs-a-xxxxs{font-size:10px}
	.fs-a-xxxs{font-size:10px}
	.fs-a-xxs{font-size:10px}
	.fs-a-xs{font-size:10px}
	.fs-a-s{font-size:11px}
	.fs-a-m{font-size:12px}
	.fs-a-l{font-size:13px}
	.fs-a-xl{font-size:14px}
	.fs-a-xxl{font-size:15px}
	.fs-a-xxxl{font-size:16px}
	.fs-a-xxxxl{font-size:20px}
	.fs-a-xxxxxl{font-size:24px}
	.fs-xxxs-xxxxxs{font-size:10px}
	.fs-xxxs-xxxxs{font-size:11px}
	.fs-xxxs-xxxs{font-size:12px}
	.fs-xxxs-xxs{font-size:13px}
	.fs-xxxs-xs{font-size:14px}
	.fs-xxxs-s{font-size:15px}
	.fs-xxxs-m{font-size:16px}
	.fs-xxxs-l{font-size:20px}
	.fs-xxxs-xl{font-size:24px}
	.fs-xxxs-xxl{font-size:28px}
	.fs-xxxs-xxxl{font-size:32px}

	/* height */
	.h-xxxs-min-50p{height:50%}
	.h-xxxs-min-100p{height:100%}
}
@media (max-width: 360px)
{
	/* visibility*/
	.xxs-min{display:none!important}
}

/* min xxs */
@media (min-width: 361px)
{
	/* visibility */
	.xxxs-max{display:none!important}

	/* columns */
	.col-l-xxs-min{float:left}
	.col-l-xxs-min-1{width:8.3332%;float:left}
	.col-l-xxs-min-2{width:16.6667%;float:left}
	.col-l-xxs-min-3{width:25%;float:left}
	.col-l-xxs-min-4{width:33.3332%;float:left}
	.col-l-xxs-min-5{width:41.6667%;float:left}
	.col-l-xxs-min-6{width:50%;float:left}
	.col-l-xxs-min-7{width:58.3332%;float:left}
	.col-l-xxs-min-8{width:66.6667%;float:left}
	.col-l-xxs-min-9{width:75%;float:left}
	.col-l-xxs-min-10{width:83.3332%;float:left}
	.col-l-xxs-min-11{width:91.6667%;float:left}
	.col-l-xxs-min-12{width:100%;float:left}
	.col-r-xxs-min{float:right}
	.col-r-xxs-min-1{width:8.3332%;float:right}
	.col-r-xxs-min-2{width:16.6667%;float:right}
	.col-r-xxs-min-3{width:25%;float:right}
	.col-r-xxs-min-4{width:33.3332%;float:right}
	.col-r-xxs-min-5{width:41.6667%;float:right}
	.col-r-xxs-min-6{width:50%;float:right}
	.col-r-xxs-min-7{width:58.3332%;float:right}
	.col-r-xxs-min-8{width:66.6667%;float:right}
	.col-r-xxs-min-9{width:75%;float:right}
	.col-r-xxs-min-10{width:83.3332%;float:right}
	.col-r-xxs-min-11{width:91.6667%;float:right}
	.col-r-xxs-min-12{width:100%;float:right}

	/* font size */
	.fs-a-xxxxxs{font-size:10px}
	.fs-a-xxxxs{font-size:10px}
	.fs-a-xxxs{font-size:10px}
	.fs-a-xxs{font-size:10px}
	.fs-a-xs{font-size:11px}
	.fs-a-s{font-size:12px}
	.fs-a-m{font-size:13px}
	.fs-a-l{font-size:14px}
	.fs-a-xl{font-size:15px}
	.fs-a-xxl{font-size:16px}
	.fs-a-xxxl{font-size:20px}
	.fs-a-xxxxl{font-size:24px}
	.fs-a-xxxxxl{font-size:28px}
	.fs-xxs-xxxxxs{font-size:10px}
	.fs-xxs-xxxxs{font-size:11px}
	.fs-xxs-xxxs{font-size:12px}
	.fs-xxs-xxs{font-size:13px}
	.fs-xxs-xs{font-size:14px}
	.fs-xxs-s{font-size:15px}
	.fs-xxs-m{font-size:16px}
	.fs-xxs-l{font-size:20px}
	.fs-xxs-xl{font-size:24px}
	.fs-xxs-xxl{font-size:28px}
	.fs-xxs-xxxl{font-size:32px}

	/* height */
	.h-xxs-min-50p{height:50%}
	.h-xxs-min-100p{height:100%}
}
@media (max-width: 480px)
{
	/* visibility*/
	.xs-min{display:none!important}
}

/* min xs */
@media (min-width: 481px)
{
	/* visibility */
	.xxs-max{display:none!important}

	/* columns */
	.col-l-xs-min{float:left}
	.col-l-xs-min-1{width:8.3332%;float:left}
	.col-l-xs-min-2{width:16.6667%;float:left}
	.col-l-xs-min-3{width:25%;float:left}
	.col-l-xs-min-4{width:33.3332%;float:left}
	.col-l-xs-min-5{width:41.6667%;float:left}
	.col-l-xs-min-6{width:50%;float:left}
	.col-l-xs-min-7{width:58.3332%;float:left}
	.col-l-xs-min-8{width:66.6667%;float:left}
	.col-l-xs-min-9{width:75%;float:left}
	.col-l-xs-min-10{width:83.3332%;float:left}
	.col-l-xs-min-11{width:91.6667%;float:left}
	.col-l-xs-min-12{width:100%;float:left}
	.col-r-xs-min{float:right}
	.col-r-xs-min-1{width:8.3332%;float:right}
	.col-r-xs-min-2{width:16.6667%;float:right}
	.col-r-xs-min-3{width:25%;float:right}
	.col-r-xs-min-4{width:33.3332%;float:right}
	.col-r-xs-min-5{width:41.6667%;float:right}
	.col-r-xs-min-6{width:50%;float:right}
	.col-r-xs-min-7{width:58.3332%;float:right}
	.col-r-xs-min-8{width:66.6667%;float:right}
	.col-r-xs-min-9{width:75%;float:right}
	.col-r-xs-min-10{width:83.3332%;float:right}
	.col-r-xs-min-11{width:91.6667%;float:right}
	.col-r-xs-min-12{width:100%;float:right}

	/* font size */
	.fs-a-xxxxxs{font-size:10px}
	.fs-a-xxxxs{font-size:10px}
	.fs-a-xxxs{font-size:10px}
	.fs-a-xxs{font-size:11px}
	.fs-a-xs{font-size:12px}
	.fs-a-s{font-size:13px}
	.fs-a-m{font-size:14px}
	.fs-a-l{font-size:15px}
	.fs-a-xl{font-size:16px}
	.fs-a-xxl{font-size:20px}
	.fs-a-xxxl{font-size:24px}
	.fs-a-xxxxl{font-size:28px}
	.fs-a-xxxxxl{font-size:32px}
	.fs-xs-xxxs{font-size:12px}
	.fs-xs-xxs{font-size:13px}
	.fs-xs-xs{font-size:14px}
	.fs-xs-s{font-size:15px}
	.fs-xs-m{font-size:16px}
	.fs-xs-l{font-size:20px}
	.fs-xs-xl{font-size:24px}
	.fs-xs-xxl{font-size:28px}
	.fs-xs-xxxl{font-size:32px}

	/* height */
	.h-xs-min-50p{height:50%}
	.h-xs-min-100p{height:100%}
}
@media (max-width: 800px)
{
	/* visibility*/
	.s-min{display:none!important}

	/* margin */
	.mar-xs-max-xxxs,.mar-xs-max-xxxs-h,.mar-xs-max-xxxs-l{margin-left:2px}
	.mar-xs-max-xxxs,.mar-xs-max-xxxs-h,.mar-xs-max-xxxs-r{margin-right:2px}
	.mar-xs-max-xxxs,.mar-xs-max-xxxs-v,.mar-xs-max-xxxs-t{margin-top:2px}
	.mar-xs-max-xxxs,.mar-xs-max-xxxs-v,.mar-xs-max-xxxs-b{margin-bottom:2px}
	.mar-xs-max-xxs,.mar-xs-max-xxs-h,.mar-xs-max-xxs-l{margin-left:4px}
	.mar-xs-max-xxs,.mar-xs-max-xxs-h,.mar-xs-max-xxs-r{margin-right:4px}
	.mar-xs-max-xxs,.mar-xs-max-xxs-v,.mar-xs-max-xxs-t{margin-top:4px}
	.mar-xs-max-xxs,.mar-xs-max-xxs-v,.mar-xs-max-xxs-b{margin-bottom:4px}
	.mar-xs-max-xs,.mar-xs-max-xs-h,.mar-xs-max-xs-l{margin-left:8px}
	.mar-xs-max-xs,.mar-xs-max-xs-h,.mar-xs-max-xs-r{margin-right:8px}
	.mar-xs-max-xs,.mar-xs-max-xs-v,.mar-xs-max-xs-t{margin-top:8px}
	.mar-xs-max-xs,.mar-xs-max-xs-v,.mar-xs-max-xs-b{margin-bottom:8px}
	.mar-xs-max-s,.mar-xs-max-s-h,.mar-xs-max-s-l{margin-left:12px}
	.mar-xs-max-s,.mar-xs-max-s-h,.mar-xs-max-s-r{margin-right:12px}
	.mar-xs-max-s,.mar-xs-max-s-v,.mar-xs-max-s-t{margin-top:12px}
	.mar-xs-max-s,.mar-xs-max-s-v,.mar-xs-max-s-b{margin-bottom:12px}
	.mar-xs-max-m,.mar-xs-max-m-h,.mar-xs-max-m-l{margin-left:16px}
	.mar-xs-max-m,.mar-xs-max-m-h,.mar-xs-max-m-r{margin-right:16px}
	.mar-xs-max-m,.mar-xs-max-m-v,.mar-xs-max-m-t{margin-top:16px}
	.mar-xs-max-m,.mar-xs-max-m-v,.mar-xs-max-m-b{margin-bottom:16px}
	.mar-xs-max-l,.mar-xs-max-l-h,.mar-xs-max-l-l{margin-left:20px}
	.mar-xs-max-l,.mar-xs-max-l-h,.mar-xs-max-l-r{margin-right:20px}
	.mar-xs-max-l,.mar-xs-max-l-v,.mar-xs-max-l-t{margin-top:20px}
	.mar-xs-max-l,.mar-xs-max-l-v,.mar-xs-max-l-b{margin-bottom:20px}
	.mar-xs-max-xl,.mar-xs-max-xl-h,.mar-xs-max-xl-l{margin-left:24px}
	.mar-xs-max-xl,.mar-xs-max-xl-h,.mar-xs-max-xl-r{margin-right:24px}
	.mar-xs-max-xl,.mar-xs-max-xl-v,.mar-xs-max-xl-t{margin-top:24px}
	.mar-xs-max-xl,.mar-xs-max-xl-v,.mar-xs-max-xl-b{margin-bottom:24px}
	.mar-xs-max-xxl,.mar-xs-max-xxl-h,.mar-xs-max-xxl-l{margin-left:28px}
	.mar-xs-max-xxl,.mar-xs-max-xxl-h,.mar-xs-max-xxl-r{margin-right:28px}
	.mar-xs-max-xxl,.mar-xs-max-xxl-v,.mar-xs-max-xxl-t{margin-top:28px}
	.mar-xs-max-xxl,.mar-xs-max-xxl-v,.mar-xs-max-xxl-b{margin-bottom:28px}
	.mar-xs-max-xxxl,.mar-xs-max-xxxl-h,.mar-xs-max-xxxl-l{margin-left:32px}
	.mar-xs-max-xxxl,.mar-xs-max-xxxl-h,.mar-xs-max-xxxl-r{margin-right:32px}
	.mar-xs-max-xxxl,.mar-xs-max-xxxl-v,.mar-xs-max-xxxl-t{margin-top:32px}
	.mar-xs-max-xxxl,.mar-xs-max-xxxl-v,.mar-xs-max-xxxl-b{margin-bottom:32px}
	.-mar-xs-max-xxxs,.-mar-xs-max-xxxs-h,.-mar-xs-max-xxxs-l{margin-left:-2px}
	.-mar-xs-max-xxxs,.-mar-xs-max-xxxs-h,.-mar-xs-max-xxxs-r{margin-right:-2px}
	.-mar-xs-max-xxxs,.-mar-xs-max-xxxs-v,.-mar-xs-max-xxxs-t{margin-top:-2px}
	.-mar-xs-max-xxxs,.-mar-xs-max-xxxs-v,.-mar-xs-max-xxxs-b{margin-bottom:-2px}
	.-mar-xs-max-xxs,.-mar-xs-max-xxs-h,.-mar-xs-max-xxs-l{margin-left:-4px}
	.-mar-xs-max-xxs,.-mar-xs-max-xxs-h,.-mar-xs-max-xxs-r{margin-right:-4px}
	.-mar-xs-max-xxs,.-mar-xs-max-xxs-v,.-mar-xs-max-xxs-t{margin-top:-4px}
	.-mar-xs-max-xxs,.-mar-xs-max-xxs-v,.-mar-xs-max-xxs-b{margin-bottom:-4px}
	.-mar-xs-max-xs,.-mar-xs-max-xs-h,.-mar-xs-max-xs-l{margin-left:-8px}
	.-mar-xs-max-xs,.-mar-xs-max-xs-h,.-mar-xs-max-xs-r{margin-right:-8px}
	.-mar-xs-max-xs,.-mar-xs-max-xs-v,.-mar-xs-max-xs-t{margin-top:-8px}
	.-mar-xs-max-xs,.-mar-xs-max-xs-v,.-mar-xs-max-xs-b{margin-bottom:-8px}
	.-mar-xs-max-s,.-mar-xs-max-s-h,.-mar-xs-max-s-l{margin-left:-12px}
	.-mar-xs-max-s,.-mar-xs-max-s-h,.-mar-xs-max-s-r{margin-right:-12px}
	.-mar-xs-max-s,.-mar-xs-max-s-v,.-mar-xs-max-s-t{margin-top:-12px}
	.-mar-xs-max-s,.-mar-xs-max-s-v,.-mar-xs-max-s-b{margin-bottom:-12px}
	.-mar-xs-max-m,.-mar-xs-max-m-h,.-mar-xs-max-m-l{margin-left:-16px}
	.-mar-xs-max-m,.-mar-xs-max-m-h,.-mar-xs-max-m-r{margin-right:-16px}
	.-mar-xs-max-m,.-mar-xs-max-m-v,.-mar-xs-max-m-t{margin-top:-16px}
	.-mar-xs-max-m,.-mar-xs-max-m-v,.-mar-xs-max-m-b{margin-bottom:-16px}
	.-mar-xs-max-l,.-mar-xs-max-l-h,.-mar-xs-max-l-l{margin-left:-20px}
	.-mar-xs-max-l,.-mar-xs-max-l-h,.-mar-xs-max-l-r{margin-right:-20px}
	.-mar-xs-max-l,.-mar-xs-max-l-v,.-mar-xs-max-l-t{margin-top:-20px}
	.-mar-xs-max-l,.-mar-xs-max-l-v,.-mar-xs-max-l-b{margin-bottom:-20px}
	.-mar-xs-max-xl,.-mar-xs-max-xl-h,.-mar-xs-max-xl-l{margin-left:-24px}
	.-mar-xs-max-xl,.-mar-xs-max-xl-h,.-mar-xs-max-xl-r{margin-right:-24px}
	.-mar-xs-max-xl,.-mar-xs-max-xl-v,.-mar-xs-max-xl-t{margin-top:-24px}
	.-mar-xs-max-xl,.-mar-xs-max-xl-v,.-mar-xs-max-xl-b{margin-bottom:-24px}
	.-mar-xs-max-xxl,.-mar-xs-max-xxl-h,.-mar-xs-max-xxl-l{margin-left:-28px}
	.-mar-xs-max-xxl,.-mar-xs-max-xxl-h,.-mar-xs-max-xxl-r{margin-right:-28px}
	.-mar-xs-max-xxl,.-mar-xs-max-xxl-v,.-mar-xs-max-xxl-t{margin-top:-28px}
	.-mar-xs-max-xxl,.-mar-xs-max-xxl-v,.-mar-xs-max-xxl-b{margin-bottom:-28px}
	.-mar-xs-max-xxxl,.-mar-xs-max-xxxl-h,.-mar-xs-max-xxxl-l{margin-left:-32px}
	.-mar-xs-max-xxxl,.-mar-xs-max-xxxl-h,.-mar-xs-max-xxxl-r{margin-right:-32px}
	.-mar-xs-max-xxxl,.-mar-xs-max-xxxl-v,.-mar-xs-max-xxxl-t{margin-top:-32px}
	.-mar-xs-max-xxxl,.-mar-xs-max-xxxl-v,.-mar-xs-max-xxxl-b{margin-bottom:-32px}

	/* padding */
	.pad-xs-max-xxxs,.pad-xs-max-xxxs-h,.pad-xs-max-xxxs-l{padding-left:2px}
	.pad-xs-max-xxxs,.pad-xs-max-xxxs-h,.pad-xs-max-xxxs-r{padding-right:2px}
	.pad-xs-max-xxxs,.pad-xs-max-xxxs-v,.pad-xs-max-xxxs-t{padding-top:2px}
	.pad-xs-max-xxxs,.pad-xs-max-xxxs-v,.pad-xs-max-xxxs-b{padding-bottom:2px}
	.pad-xs-max-xxs,.pad-xs-max-xxs-h,.pad-xs-max-xxs-l{padding-left:4px}
	.pad-xs-max-xxs,.pad-xs-max-xxs-h,.pad-xs-max-xxs-r{padding-right:4px}
	.pad-xs-max-xxs,.pad-xs-max-xxs-v,.pad-xs-max-xxs-t{padding-top:4px}
	.pad-xs-max-xxs,.pad-xs-max-xxs-v,.pad-xs-max-xxs-b{padding-bottom:4px}
	.pad-xs-max-xs,.pad-xs-max-xs-h,.pad-xs-max-xs-l{padding-left:8px}
	.pad-xs-max-xs,.pad-xs-max-xs-h,.pad-xs-max-xs-r{padding-right:8px}
	.pad-xs-max-xs,.pad-xs-max-xs-v,.pad-xs-max-xs-t{padding-top:8px}
	.pad-xs-max-xs,.pad-xs-max-xs-v,.pad-xs-max-xs-b{padding-bottom:8px}
	.pad-xs-max-s,.pad-xs-max-s-h,.pad-xs-max-s-l{padding-left:12px}
	.pad-xs-max-s,.pad-xs-max-s-h,.pad-xs-max-s-r{padding-right:12px}
	.pad-xs-max-s,.pad-xs-max-s-v,.pad-xs-max-s-t{padding-top:12px}
	.pad-xs-max-s,.pad-xs-max-s-v,.pad-xs-max-s-b{padding-bottom:12px}
	.pad-xs-max-m,.pad-xs-max-m-h,.pad-xs-max-m-l{padding-left:16px}
	.pad-xs-max-m,.pad-xs-max-m-h,.pad-xs-max-m-r{padding-right:16px}
	.pad-xs-max-m,.pad-xs-max-m-v,.pad-xs-max-m-t{padding-top:16px}
	.pad-xs-max-m,.pad-xs-max-m-v,.pad-xs-max-m-b{padding-bottom:16px}
	.pad-xs-max-l,.pad-xs-max-l-h,.pad-xs-max-l-l{padding-left:20px}
	.pad-xs-max-l,.pad-xs-max-l-h,.pad-xs-max-l-r{padding-right:20px}
	.pad-xs-max-l,.pad-xs-max-l-v,.pad-xs-max-l-t{padding-top:20px}
	.pad-xs-max-l,.pad-xs-max-l-v,.pad-xs-max-l-b{padding-bottom:20px}
	.pad-xs-max-xl,.pad-xs-max-xl-h,.pad-xs-max-xl-l{padding-left:24px}
	.pad-xs-max-xl,.pad-xs-max-xl-h,.pad-xs-max-xl-r{padding-right:24px}
	.pad-xs-max-xl,.pad-xs-max-xl-v,.pad-xs-max-xl-t{padding-top:24px}
	.pad-xs-max-xl,.pad-xs-max-xl-v,.pad-xs-max-xl-b{padding-bottom:24px}
	.pad-xs-max-xxl,.pad-xs-max-xxl-h,.pad-xs-max-xxl-l{padding-left:28px}
	.pad-xs-max-xxl,.pad-xs-max-xxl-h,.pad-xs-max-xxl-r{padding-right:28px}
	.pad-xs-max-xxl,.pad-xs-max-xxl-v,.pad-xs-max-xxl-t{padding-top:28px}
	.pad-xs-max-xxl,.pad-xs-max-xxl-v,.pad-xs-max-xxl-b{padding-bottom:28px}
	.pad-xs-max-xxxl,.pad-xs-max-xxxl-h,.pad-xs-max-xxxl-l{padding-left:32px}
	.pad-xs-max-xxxl,.pad-xs-max-xxxl-h,.pad-xs-max-xxxl-r{padding-right:32px}
	.pad-xs-max-xxxl,.pad-xs-max-xxxl-v,.pad-xs-max-xxxl-t{padding-top:32px}
	.pad-xs-max-xxxl,.pad-xs-max-xxxl-v,.pad-xs-max-xxxl-b{padding-bottom:32px}

	/* width */
	.w-xs-max-50p{width:50%}
}

/* min s */
@media (min-width: 801px)
{
	/* visibility */
	.xs-max{display:none!important}

	/* display */
	.block-s-min{display:block}
	.inline-block-s-min{display:inline-block}

	/* columns */
	.col-l-s-min{float:left}
	.col-l-s-min-1{width:8.3332%;float:left}
	.col-l-s-min-2{width:16.6667%;float:left}
	.col-l-s-min-3{width:25%;float:left}
	.col-l-s-min-4{width:33.3332%;float:left}
	.col-l-s-min-5{width:41.6667%;float:left}
	.col-l-s-min-6{width:50%;float:left}
	.col-l-s-min-7{width:58.3332%;float:left}
	.col-l-s-min-8{width:66.6667%;float:left}
	.col-l-s-min-9{width:75%;float:left}
	.col-l-s-min-10{width:83.3332%;float:left}
	.col-l-s-min-11{width:91.6667%;float:left}
	.col-l-s-min-12{width:100%;float:left}
	.col-r-s-min{float:right}
	.col-r-s-min-1{width:8.3332%;float:right}
	.col-r-s-min-2{width:16.6667%;float:right}
	.col-r-s-min-3{width:25%;float:right}
	.col-r-s-min-4{width:33.3332%;float:right}
	.col-r-s-min-5{width:41.6667%;float:right}
	.col-r-s-min-6{width:50%;float:right}
	.col-r-s-min-7{width:58.3332%;float:right}
	.col-r-s-min-8{width:66.6667%;float:right}
	.col-r-s-min-9{width:75%;float:right}
	.col-r-s-min-10{width:83.3332%;float:right}
	.col-r-s-min-11{width:91.6667%;float:right}
	.col-r-s-min-12{width:100%;float:right}

	/* margin */
	.mar-s-min-a-c,.mar-s-min-a-l{margin-right:auto}
	.mar-s-min-a-c,.mar-s-min-a-r{margin-left:auto}
	.mar-s-min-a-m,.mar-s-min-a-t{margin-bottom:auto}
	.mar-s-min-a-m,.mar-s-min-a-b{margin-top:auto}
	.mar-s-min-0px,.mar-s-min-0px-h,.mar-s-min-0px-l{margin-left:0px}
	.mar-s-min-0px,.mar-s-min-0px-h,.mar-s-min-0px-r{margin-right:0px}
	.mar-s-min-0px,.mar-s-min-0px-v,.mar-s-min-0px-t{margin-top:0px}
	.mar-s-min-0px,.mar-s-min-0px-v,.mar-s-min-0px-b{margin-bottom:0px}
	.mar-s-min-2px,.mar-s-min-2px-h,.mar-s-min-2px-l{margin-left:2px}
	.mar-s-min-2px,.mar-s-min-2px-h,.mar-s-min-2px-r{margin-right:2px}
	.mar-s-min-2px,.mar-s-min-2px-v,.mar-s-min-2px-t{margin-top:2px}
	.mar-s-min-2px,.mar-s-min-2px-v,.mar-s-min-2px-b{margin-bottom:2px}
	.mar-s-min-4px,.mar-s-min-4px-h,.mar-s-min-4px-l{margin-left:4px}
	.mar-s-min-4px,.mar-s-min-4px-h,.mar-s-min-4px-r{margin-right:4px}
	.mar-s-min-4px,.mar-s-min-4px-v,.mar-s-min-4px-t{margin-top:4px}
	.mar-s-min-4px,.mar-s-min-4px-v,.mar-s-min-4px-b{margin-bottom:4px}
	.mar-s-min-8px,.mar-s-min-8px-h,.mar-s-min-8px-l{margin-left:8px}
	.mar-s-min-8px,.mar-s-min-8px-h,.mar-s-min-8px-r{margin-right:8px}
	.mar-s-min-8px,.mar-s-min-8px-v,.mar-s-min-8px-t{margin-top:8px}
	.mar-s-min-8px,.mar-s-min-8px-v,.mar-s-min-8px-b{margin-bottom:8px}
	.mar-s-min-16px,.mar-s-min-16px-h,.mar-s-min-16px-l{margin-left:16px}
	.mar-s-min-16px,.mar-s-min-16px-h,.mar-s-min-16px-r{margin-right:16px}
	.mar-s-min-16px,.mar-s-min-16px-v,.mar-s-min-16px-t{margin-top:16px}
	.mar-s-min-16px,.mar-s-min-16px-v,.mar-s-min-16px-b{margin-bottom:16px}
	.mar-s-min-32px,.mar-s-min-32px-h,.mar-s-min-32px-l{margin-left:32px}
	.mar-s-min-32px,.mar-s-min-32px-h,.mar-s-min-32px-r{margin-right:32px}
	.mar-s-min-32px,.mar-s-min-32px-v,.mar-s-min-32px-t{margin-top:32px}
	.mar-s-min-32px,.mar-s-min-32px-v,.mar-s-min-32px-b{margin-bottom:32px}
	.mar-s-min-64px,.mar-s-min-64px-h,.mar-s-min-64px-l{margin-left:64px}
	.mar-s-min-64px,.mar-s-min-64px-h,.mar-s-min-64px-r{margin-right:64px}
	.mar-s-min-64px,.mar-s-min-64px-v,.mar-s-min-64px-t{margin-top:64px}
	.mar-s-min-64px,.mar-s-min-64px-v,.mar-s-min-64px-b{margin-bottom:64px}
	.-mar-s-min-2px,.-mar-s-min-2px-h,.-mar-s-min-2px-l{margin-left:-2px}
	.-mar-s-min-2px,.-mar-s-min-2px-h,.-mar-s-min-2px-r{margin-right:-2px}
	.-mar-s-min-2px,.-mar-s-min-2px-v,.-mar-s-min-2px-t{margin-top:-2px}
	.-mar-s-min-2px,.-mar-s-min-2px-v,.-mar-s-min-2px-b{margin-bottom:-2px}
	.-mar-s-min-4px,.-mar-s-min-4px-h,.-mar-s-min-4px-l{margin-left:-4px}
	.-mar-s-min-4px,.-mar-s-min-4px-h,.-mar-s-min-4px-r{margin-right:-4px}
	.-mar-s-min-4px,.-mar-s-min-4px-v,.-mar-s-min-4px-t{margin-top:-4px}
	.-mar-s-min-4px,.-mar-s-min-4px-v,.-mar-s-min-4px-b{margin-bottom:-4px}
	.-mar-s-min-8px,.-mar-s-min-8px-h,.-mar-s-min-8px-l{margin-left:-8px}
	.-mar-s-min-8px,.-mar-s-min-8px-h,.-mar-s-min-8px-r{margin-right:-8px}
	.-mar-s-min-8px,.-mar-s-min-8px-v,.-mar-s-min-8px-t{margin-top:-8px}
	.-mar-s-min-8px,.-mar-s-min-8px-v,.-mar-s-min-8px-b{margin-bottom:-8px}
	.-mar-s-min-16px,.-mar-s-min-16px-h,.-mar-s-min-16px-l{margin-left:-16px}
	.-mar-s-min-16px,.-mar-s-min-16px-h,.-mar-s-min-16px-r{margin-right:-16px}
	.-mar-s-min-16px,.-mar-s-min-16px-v,.-mar-s-min-16px-t{margin-top:-16px}
	.-mar-s-min-16px,.-mar-s-min-16px-v,.-mar-s-min-16px-b{margin-bottom:-16px}
	.-mar-s-min-32px,.-mar-s-min-32px-h,.-mar-s-min-32px-l{margin-left:-32px}
	.-mar-s-min-32px,.-mar-s-min-32px-h,.-mar-s-min-32px-r{margin-right:-32px}
	.-mar-s-min-32px,.-mar-s-min-32px-v,.-mar-s-min-32px-t{margin-top:-32px}
	.-mar-s-min-32px,.-mar-s-min-32px-v,.-mar-s-min-32px-b{margin-bottom:-32px}
	.-mar-s-min-64px,.-mar-s-min-64px-h,.-mar-s-min-64px-l{margin-left:-64px}
	.-mar-s-min-64px,.-mar-s-min-64px-h,.-mar-s-min-64px-r{margin-right:-64px}
	.-mar-s-min-64px,.-mar-s-min-64px-v,.-mar-s-min-64px-t{margin-top:-64px}
	.-mar-s-min-64px,.-mar-s-min-64px-v,.-mar-s-min-64px-b{margin-bottom:-64px}

	/* padding */
	.pad-s-min-0px,.pad-s-min-0px-h,.pad-s-min-0px-l{padding-left:0px}
	.pad-s-min-0px,.pad-s-min-0px-h,.pad-s-min-0px-r{padding-right:0px}
	.pad-s-min-0px,.pad-s-min-0px-v,.pad-s-min-0px-t{padding-top:0px}
	.pad-s-min-0px,.pad-s-min-0px-v,.pad-s-min-0px-b{padding-bottom:0px}
	.pad-s-min-2px,.pad-s-min-2px-h,.pad-s-min-2px-l{padding-left:2px}
	.pad-s-min-2px,.pad-s-min-2px-h,.pad-s-min-2px-r{padding-right:2px}
	.pad-s-min-2px,.pad-s-min-2px-v,.pad-s-min-2px-t{padding-top:2px}
	.pad-s-min-2px,.pad-s-min-2px-v,.pad-s-min-2px-b{padding-bottom:2px}
	.pad-s-min-4px,.pad-s-min-4px-h,.pad-s-min-4px-l{padding-left:4px}
	.pad-s-min-4px,.pad-s-min-4px-h,.pad-s-min-4px-r{padding-right:4px}
	.pad-s-min-4px,.pad-s-min-4px-v,.pad-s-min-4px-t{padding-top:4px}
	.pad-s-min-4px,.pad-s-min-4px-v,.pad-s-min-4px-b{padding-bottom:4px}
	.pad-s-min-8px,.pad-s-min-8px-h,.pad-s-min-8px-l{padding-left:8px}
	.pad-s-min-8px,.pad-s-min-8px-h,.pad-s-min-8px-r{padding-right:8px}
	.pad-s-min-8px,.pad-s-min-8px-v,.pad-s-min-8px-t{padding-top:8px}
	.pad-s-min-8px,.pad-s-min-8px-v,.pad-s-min-8px-b{padding-bottom:8px}
	.pad-s-min-16px,.pad-s-min-16px-h,.pad-s-min-16px-l{padding-left:16px}
	.pad-s-min-16px,.pad-s-min-16px-h,.pad-s-min-16px-r{padding-right:16px}
	.pad-s-min-16px,.pad-s-min-16px-v,.pad-s-min-16px-t{padding-top:16px}
	.pad-s-min-16px,.pad-s-min-16px-v,.pad-s-min-16px-b{padding-bottom:16px}
	.pad-s-min-32px,.pad-s-min-32px-h,.pad-s-min-32px-l{padding-left:32px}
	.pad-s-min-32px,.pad-s-min-32px-h,.pad-s-min-32px-r{padding-right:32px}
	.pad-s-min-32px,.pad-s-min-32px-v,.pad-s-min-32px-t{padding-top:32px}
	.pad-s-min-32px,.pad-s-min-32px-v,.pad-s-min-32px-b{padding-bottom:32px}
	.pad-s-min-64px,.pad-s-min-64px-h,.pad-s-min-64px-l{padding-left:64px}
	.pad-s-min-64px,.pad-s-min-64px-h,.pad-s-min-64px-r{padding-right:64px}
	.pad-s-min-64px,.pad-s-min-64px-v,.pad-s-min-64px-t{padding-top:64px}
	.pad-s-min-64px,.pad-s-min-64px-v,.pad-s-min-64px-b{padding-bottom:64px}

	/* font size */
	.fs-a-xxxxxs{font-size:10px}
	.fs-a-xxxxs{font-size:10px}
	.fs-a-xxxs{font-size:11px}
	.fs-a-xxs{font-size:12px}
	.fs-a-xs{font-size:13px}
	.fs-a-s{font-size:14px}
	.fs-a-m{font-size:15px}
	.fs-a-l{font-size:16px}
	.fs-a-xl{font-size:20px}
	.fs-a-xxl{font-size:24px}
	.fs-a-xxxl{font-size:28px}
	.fs-a-xxxxl{font-size:32px}
	.fs-a-xxxxxl{font-size:32px}
	.fs-a-s-min-xxxs{font-size:12px}
	.fs-a-s-min-xxs{font-size:12px}
	.fs-a-s-min-xs{font-size:13px}
	.fs-a-s-min-s{font-size:14px}
	.fs-a-s-min-m{font-size:15px}
	.fs-a-s-min-l{font-size:16px}
	.fs-a-s-min-xl{font-size:20px}
	.fs-a-s-min-xxl{font-size:24px}
	.fs-a-s-min-xxxl{font-size:28px}
	.fs-s-xxxs{font-size:12px}
	.fs-s-xxs{font-size:13px}
	.fs-s-xs{font-size:14px}
	.fs-s-s{font-size:15px}
	.fs-s-m{font-size:16px}
	.fs-s-l{font-size:20px}
	.fs-s-xl{font-size:24px}
	.fs-s-xxl{font-size:28px}
	.fs-s-xxxl{font-size:32px}

	/* width */
	.w-s-min-25p{width:25%}
	.w-s-min-50p{width:50%}

	/* height */
	.h-s-min-50p{height:50%}
	.h-s-min-100p{height:100%}
}
@media (max-width: 1024px)
{
	/* visibility*/
	.m-min{display:none!important}

	/* margin */
	.mar-s-max-a-c,.mar-s-max-a-l{margin-right:auto}
	.mar-s-max-a-c,.mar-s-max-a-r{margin-left:auto}
	.mar-s-max-a-m,.mar-s-max-a-t{margin-bottom:auto}
	.mar-s-max-a-m,.mar-s-max-a-b{margin-top:auto}
	.mar-s-max-xxxs,.mar-s-max-xxxs-h,.mar-s-max-xxxs-l{margin-left:2px}
	.mar-s-max-xxxs,.mar-s-max-xxxs-h,.mar-s-max-xxxs-r{margin-right:2px}
	.mar-s-max-xxxs,.mar-s-max-xxxs-v,.mar-s-max-xxxs-t{margin-top:2px}
	.mar-s-max-xxxs,.mar-s-max-xxxs-v,.mar-s-max-xxxs-b{margin-bottom:2px}
	.mar-s-max-xxs,.mar-s-max-xxs-h,.mar-s-max-xxs-l{margin-left:4px}
	.mar-s-max-xxs,.mar-s-max-xxs-h,.mar-s-max-xxs-r{margin-right:4px}
	.mar-s-max-xxs,.mar-s-max-xxs-v,.mar-s-max-xxs-t{margin-top:4px}
	.mar-s-max-xxs,.mar-s-max-xxs-v,.mar-s-max-xxs-b{margin-bottom:4px}
	.mar-s-max-xs,.mar-s-max-xs-h,.mar-s-max-xs-l{margin-left:8px}
	.mar-s-max-xs,.mar-s-max-xs-h,.mar-s-max-xs-r{margin-right:8px}
	.mar-s-max-xs,.mar-s-max-xs-v,.mar-s-max-xs-t{margin-top:8px}
	.mar-s-max-xs,.mar-s-max-xs-v,.mar-s-max-xs-b{margin-bottom:8px}
	.mar-s-max-s,.mar-s-max-s-h,.mar-s-max-s-l{margin-left:12px}
	.mar-s-max-s,.mar-s-max-s-h,.mar-s-max-s-r{margin-right:12px}
	.mar-s-max-s,.mar-s-max-s-v,.mar-s-max-s-t{margin-top:12px}
	.mar-s-max-s,.mar-s-max-s-v,.mar-s-max-s-b{margin-bottom:12px}
	.mar-s-max-m,.mar-s-max-m-h,.mar-s-max-m-l{margin-left:16px}
	.mar-s-max-m,.mar-s-max-m-h,.mar-s-max-m-r{margin-right:16px}
	.mar-s-max-m,.mar-s-max-m-v,.mar-s-max-m-t{margin-top:16px}
	.mar-s-max-m,.mar-s-max-m-v,.mar-s-max-m-b{margin-bottom:16px}
	.mar-s-max-l,.mar-s-max-l-h,.mar-s-max-l-l{margin-left:20px}
	.mar-s-max-l,.mar-s-max-l-h,.mar-s-max-l-r{margin-right:20px}
	.mar-s-max-l,.mar-s-max-l-v,.mar-s-max-l-t{margin-top:20px}
	.mar-s-max-l,.mar-s-max-l-v,.mar-s-max-l-b{margin-bottom:20px}
	.mar-s-max-xl,.mar-s-max-xl-h,.mar-s-max-xl-l{margin-left:24px}
	.mar-s-max-xl,.mar-s-max-xl-h,.mar-s-max-xl-r{margin-right:24px}
	.mar-s-max-xl,.mar-s-max-xl-v,.mar-s-max-xl-t{margin-top:24px}
	.mar-s-max-xl,.mar-s-max-xl-v,.mar-s-max-xl-b{margin-bottom:24px}
	.mar-s-max-xxl,.mar-s-max-xxl-h,.mar-s-max-xxl-l{margin-left:28px}
	.mar-s-max-xxl,.mar-s-max-xxl-h,.mar-s-max-xxl-r{margin-right:28px}
	.mar-s-max-xxl,.mar-s-max-xxl-v,.mar-s-max-xxl-t{margin-top:28px}
	.mar-s-max-xxl,.mar-s-max-xxl-v,.mar-s-max-xxl-b{margin-bottom:28px}
	.mar-s-max-xxxl,.mar-s-max-xxxl-h,.mar-s-max-xxxl-l{margin-left:32px}
	.mar-s-max-xxxl,.mar-s-max-xxxl-h,.mar-s-max-xxxl-r{margin-right:32px}
	.mar-s-max-xxxl,.mar-s-max-xxxl-v,.mar-s-max-xxxl-t{margin-top:32px}
	.mar-s-max-xxxl,.mar-s-max-xxxl-v,.mar-s-max-xxxl-b{margin-bottom:32px}
}

/* min m */
@media (min-width: 1025px)
{
	/* visibility */
	.s-max{display:none!important}

	/* columns */
	.col-l-m-min{float:left}
	.col-l-m-min-1{width:8.3332%;float:left}
	.col-l-m-min-2{width:16.6667%;float:left}
	.col-l-m-min-3{width:25%;float:left}
	.col-l-m-min-4{width:33.3332%;float:left}
	.col-l-m-min-5{width:41.6667%;float:left}
	.col-l-m-min-6{width:50%;float:left}
	.col-l-m-min-7{width:58.3332%;float:left}
	.col-l-m-min-8{width:66.6667%;float:left}
	.col-l-m-min-9{width:75%;float:left}
	.col-l-m-min-10{width:83.3332%;float:left}
	.col-l-m-min-11{width:91.6667%;float:left}
	.col-l-m-min-12{width:100%;float:left}
	.col-r-m-min{float:right}
	.col-r-m-min-1{width:8.3332%;float:right}
	.col-r-m-min-2{width:16.6667%;float:right}
	.col-r-m-min-3{width:25%;float:right}
	.col-r-m-min-4{width:33.3332%;float:right}
	.col-r-m-min-5{width:41.6667%;float:right}
	.col-r-m-min-6{width:50%;float:right}
	.col-r-m-min-7{width:58.3332%;float:right}
	.col-r-m-min-8{width:66.6667%;float:right}
	.col-r-m-min-9{width:75%;float:right}
	.col-r-m-min-10{width:83.3332%;float:right}
	.col-r-m-min-11{width:91.6667%;float:right}
	.col-r-m-min-12{width:100%;float:right}

	/* margin */
	.mar-m-min-a-c,.mar-m-min-a-l{margin-right:auto}
	.mar-m-min-a-c,.mar-m-min-a-r{margin-left:auto}
	.mar-m-min-a-m,.mar-m-min-a-t{margin-bottom:auto}
	.mar-m-min-a-m,.mar-m-min-a-b{margin-top:auto}
	.mar-m-min-0px,.mar-m-min-0px-h,.mar-m-min-0px-l{margin-left:0px}
	.mar-m-min-0px,.mar-m-min-0px-h,.mar-m-min-0px-r{margin-right:0px}
	.mar-m-min-0px,.mar-m-min-0px-v,.mar-m-min-0px-t{margin-top:0px}
	.mar-m-min-0px,.mar-m-min-0px-v,.mar-m-min-0px-b{margin-bottom:0px}
	.mar-m-min-2px,.mar-m-min-2px-h,.mar-m-min-2px-l{margin-left:2px}
	.mar-m-min-2px,.mar-m-min-2px-h,.mar-m-min-2px-r{margin-right:2px}
	.mar-m-min-2px,.mar-m-min-2px-v,.mar-m-min-2px-t{margin-top:2px}
	.mar-m-min-2px,.mar-m-min-2px-v,.mar-m-min-2px-b{margin-bottom:2px}
	.mar-m-min-4px,.mar-m-min-4px-h,.mar-m-min-4px-l{margin-left:4px}
	.mar-m-min-4px,.mar-m-min-4px-h,.mar-m-min-4px-r{margin-right:4px}
	.mar-m-min-4px,.mar-m-min-4px-v,.mar-m-min-4px-t{margin-top:4px}
	.mar-m-min-4px,.mar-m-min-4px-v,.mar-m-min-4px-b{margin-bottom:4px}
	.mar-m-min-8px,.mar-m-min-8px-h,.mar-m-min-8px-l{margin-left:8px}
	.mar-m-min-8px,.mar-m-min-8px-h,.mar-m-min-8px-r{margin-right:8px}
	.mar-m-min-8px,.mar-m-min-8px-v,.mar-m-min-8px-t{margin-top:8px}
	.mar-m-min-8px,.mar-m-min-8px-v,.mar-m-min-8px-b{margin-bottom:8px}
	.mar-m-min-16px,.mar-m-min-16px-h,.mar-m-min-16px-l{margin-left:16px}
	.mar-m-min-16px,.mar-m-min-16px-h,.mar-m-min-16px-r{margin-right:16px}
	.mar-m-min-16px,.mar-m-min-16px-v,.mar-m-min-16px-t{margin-top:16px}
	.mar-m-min-16px,.mar-m-min-16px-v,.mar-m-min-16px-b{margin-bottom:16px}
	.mar-m-min-32px,.mar-m-min-32px-h,.mar-m-min-32px-l{margin-left:32px}
	.mar-m-min-32px,.mar-m-min-32px-h,.mar-m-min-32px-r{margin-right:32px}
	.mar-m-min-32px,.mar-m-min-32px-v,.mar-m-min-32px-t{margin-top:32px}
	.mar-m-min-32px,.mar-m-min-32px-v,.mar-m-min-32px-b{margin-bottom:32px}
	.mar-m-min-64px,.mar-m-min-64px-h,.mar-m-min-64px-l{margin-left:64px}
	.mar-m-min-64px,.mar-m-min-64px-h,.mar-m-min-64px-r{margin-right:64px}
	.mar-m-min-64px,.mar-m-min-64px-v,.mar-m-min-64px-t{margin-top:64px}
	.mar-m-min-64px,.mar-m-min-64px-v,.mar-m-min-64px-b{margin-bottom:64px}
	.-mar-m-min-2px,.-mar-m-min-2px-h,.-mar-m-min-2px-l{margin-left:-2px}
	.-mar-m-min-2px,.-mar-m-min-2px-h,.-mar-m-min-2px-r{margin-right:-2px}
	.-mar-m-min-2px,.-mar-m-min-2px-v,.-mar-m-min-2px-t{margin-top:-2px}
	.-mar-m-min-2px,.-mar-m-min-2px-v,.-mar-m-min-2px-b{margin-bottom:-2px}
	.-mar-m-min-4px,.-mar-m-min-4px-h,.-mar-m-min-4px-l{margin-left:-4px}
	.-mar-m-min-4px,.-mar-m-min-4px-h,.-mar-m-min-4px-r{margin-right:-4px}
	.-mar-m-min-4px,.-mar-m-min-4px-v,.-mar-m-min-4px-t{margin-top:-4px}
	.-mar-m-min-4px,.-mar-m-min-4px-v,.-mar-m-min-4px-b{margin-bottom:-4px}
	.-mar-m-min-8px,.-mar-m-min-8px-h,.-mar-m-min-8px-l{margin-left:-8px}
	.-mar-m-min-8px,.-mar-m-min-8px-h,.-mar-m-min-8px-r{margin-right:-8px}
	.-mar-m-min-8px,.-mar-m-min-8px-v,.-mar-m-min-8px-t{margin-top:-8px}
	.-mar-m-min-8px,.-mar-m-min-8px-v,.-mar-m-min-8px-b{margin-bottom:-8px}
	.-mar-m-min-16px,.-mar-m-min-16px-h,.-mar-m-min-16px-l{margin-left:-16px}
	.-mar-m-min-16px,.-mar-m-min-16px-h,.-mar-m-min-16px-r{margin-right:-16px}
	.-mar-m-min-16px,.-mar-m-min-16px-v,.-mar-m-min-16px-t{margin-top:-16px}
	.-mar-m-min-16px,.-mar-m-min-16px-v,.-mar-m-min-16px-b{margin-bottom:-16px}
	.-mar-m-min-32px,.-mar-m-min-32px-h,.-mar-m-min-32px-l{margin-left:-32px}
	.-mar-m-min-32px,.-mar-m-min-32px-h,.-mar-m-min-32px-r{margin-right:-32px}
	.-mar-m-min-32px,.-mar-m-min-32px-v,.-mar-m-min-32px-t{margin-top:-32px}
	.-mar-m-min-32px,.-mar-m-min-32px-v,.-mar-m-min-32px-b{margin-bottom:-32px}
	.-mar-m-min-64px,.-mar-m-min-64px-h,.-mar-m-min-64px-l{margin-left:-64px}
	.-mar-m-min-64px,.-mar-m-min-64px-h,.-mar-m-min-64px-r{margin-right:-64px}
	.-mar-m-min-64px,.-mar-m-min-64px-v,.-mar-m-min-64px-t{margin-top:-64px}
	.-mar-m-min-64px,.-mar-m-min-64px-v,.-mar-m-min-64px-b{margin-bottom:-64px}

	/* padding */
	.pad-m-min-0px,.pad-m-min-0px-h,.pad-m-min-0px-l{padding-left:0px}
	.pad-m-min-0px,.pad-m-min-0px-h,.pad-m-min-0px-r{padding-right:0px}
	.pad-m-min-0px,.pad-m-min-0px-v,.pad-m-min-0px-t{padding-top:0px}
	.pad-m-min-0px,.pad-m-min-0px-v,.pad-m-min-0px-b{padding-bottom:0px}
	.pad-m-min-2px,.pad-m-min-2px-h,.pad-m-min-2px-l{padding-left:2px}
	.pad-m-min-2px,.pad-m-min-2px-h,.pad-m-min-2px-r{padding-right:2px}
	.pad-m-min-2px,.pad-m-min-2px-v,.pad-m-min-2px-t{padding-top:2px}
	.pad-m-min-2px,.pad-m-min-2px-v,.pad-m-min-2px-b{padding-bottom:2px}
	.pad-m-min-4px,.pad-m-min-4px-h,.pad-m-min-4px-l{padding-left:4px}
	.pad-m-min-4px,.pad-m-min-4px-h,.pad-m-min-4px-r{padding-right:4px}
	.pad-m-min-4px,.pad-m-min-4px-v,.pad-m-min-4px-t{padding-top:4px}
	.pad-m-min-4px,.pad-m-min-4px-v,.pad-m-min-4px-b{padding-bottom:4px}
	.pad-m-min-8px,.pad-m-min-8px-h,.pad-m-min-8px-l{padding-left:8px}
	.pad-m-min-8px,.pad-m-min-8px-h,.pad-m-min-8px-r{padding-right:8px}
	.pad-m-min-8px,.pad-m-min-8px-v,.pad-m-min-8px-t{padding-top:8px}
	.pad-m-min-8px,.pad-m-min-8px-v,.pad-m-min-8px-b{padding-bottom:8px}
	.pad-m-min-16px,.pad-m-min-16px-h,.pad-m-min-16px-l{padding-left:16px}
	.pad-m-min-16px,.pad-m-min-16px-h,.pad-m-min-16px-r{padding-right:16px}
	.pad-m-min-16px,.pad-m-min-16px-v,.pad-m-min-16px-t{padding-top:16px}
	.pad-m-min-16px,.pad-m-min-16px-v,.pad-m-min-16px-b{padding-bottom:16px}
	.pad-m-min-32px,.pad-m-min-32px-h,.pad-m-min-32px-l{padding-left:32px}
	.pad-m-min-32px,.pad-m-min-32px-h,.pad-m-min-32px-r{padding-right:32px}
	.pad-m-min-32px,.pad-m-min-32px-v,.pad-m-min-32px-t{padding-top:32px}
	.pad-m-min-32px,.pad-m-min-32px-v,.pad-m-min-32px-b{padding-bottom:32px}
	.pad-m-min-64px,.pad-m-min-64px-h,.pad-m-min-64px-l{padding-left:64px}
	.pad-m-min-64px,.pad-m-min-64px-h,.pad-m-min-64px-r{padding-right:64px}
	.pad-m-min-64px,.pad-m-min-64px-v,.pad-m-min-64px-t{padding-top:64px}
	.pad-m-min-64px,.pad-m-min-64px-v,.pad-m-min-64px-b{padding-bottom:64px}

	/* font size */
	.fs-a-xxxs{font-size:12px}
	.fs-a-xxs{font-size:13px}
	.fs-a-xs{font-size:14px}
	.fs-a-s{font-size:15px}
	.fs-a-m{font-size:16px}
	.fs-a-l{font-size:20px}
	.fs-a-xl{font-size:24px}
	.fs-a-xxl{font-size:28px}
	.fs-a-xxxl{font-size:32px}
	.fs-a-xxxxl{font-size:32px}
	.fs-a-xxxxxl{font-size:32px}
	.fs-a-s-min-xxxs{font-size:12px}
	.fs-a-s-min-xxs{font-size:13px}
	.fs-a-s-min-xs{font-size:14px}
	.fs-a-s-min-s{font-size:15px}
	.fs-a-s-min-m{font-size:16px}
	.fs-a-s-min-l{font-size:20px}
	.fs-a-s-min-xl{font-size:24px}
	.fs-a-s-min-xxl{font-size:28px}
	.fs-a-s-min-xxxl{font-size:32px}
	.fs-m-xxxs{font-size:12px}
	.fs-m-xxs{font-size:13px}
	.fs-m-xs{font-size:14px}
	.fs-m-s{font-size:15px}
	.fs-m-m{font-size:16px}
	.fs-m-l{font-size:20px}
	.fs-m-xl{font-size:24px}
	.fs-m-xxl{font-size:28px}
	.fs-m-xxxl{font-size:32px}

	/* height */
	.h-m-min-50p{height:50%}
	.h-m-min-100p{height:100%}
}
@media (max-width: 1280px)
{
	/* visibility*/
	.l-min{display:none!important}
	.xl-min{display:none!important}
	.xxl-min{display:none!important}
	.xxxl-min{display:none!important}
}

/* min l */
@media (min-width: 1281px)
{
	/* visibility */
	.m-max{display:none!important}

	/* columns */
	.col-l-l-min{float:left}
	.col-l-l-min-1{width:8.3332%;float:left}
	.col-l-l-min-2{width:16.6667%;float:left}
	.col-l-l-min-3{width:25%;float:left}
	.col-l-l-min-4{width:33.3332%;float:left}
	.col-l-l-min-5{width:41.6667%;float:left}
	.col-l-l-min-6{width:50%;float:left}
	.col-l-l-min-7{width:58.3332%;float:left}
	.col-l-l-min-8{width:66.6667%;float:left}
	.col-l-l-min-9{width:75%;float:left}
	.col-l-l-min-10{width:83.3332%;float:left}
	.col-l-l-min-11{width:91.6667%;float:left}
	.col-l-l-min-12{width:100%;float:left}
	.col-r-l-min{float:right}
	.col-r-l-min-1{width:8.3332%;float:right}
	.col-r-l-min-2{width:16.6667%;float:right}
	.col-r-l-min-3{width:25%;float:right}
	.col-r-l-min-4{width:33.3332%;float:right}
	.col-r-l-min-5{width:41.6667%;float:right}
	.col-r-l-min-6{width:50%;float:right}
	.col-r-l-min-7{width:58.3332%;float:right}
	.col-r-l-min-8{width:66.6667%;float:right}
	.col-r-l-min-9{width:75%;float:right}
	.col-r-l-min-10{width:83.3332%;float:right}
	.col-r-l-min-11{width:91.6667%;float:right}
	.col-r-l-min-12{width:100%;float:right}

	/* margin */
	.mar-l-min-a-c,.mar-l-min-a-l{margin-right:auto}
	.mar-l-min-a-c,.mar-l-min-a-r{margin-left:auto}
	.mar-l-min-a-m,.mar-l-min-a-t{margin-bottom:auto}
	.mar-l-min-a-m,.mar-l-min-a-b{margin-top:auto}
	.mar-l-min-0px,.mar-l-min-0px-h,.mar-l-min-0px-l{margin-left:0px}
	.mar-l-min-0px,.mar-l-min-0px-h,.mar-l-min-0px-r{margin-right:0px}
	.mar-l-min-0px,.mar-l-min-0px-v,.mar-l-min-0px-t{margin-top:0px}
	.mar-l-min-0px,.mar-l-min-0px-v,.mar-l-min-0px-b{margin-bottom:0px}
	.mar-l-min-2px,.mar-l-min-2px-h,.mar-l-min-2px-l{margin-left:2px}
	.mar-l-min-2px,.mar-l-min-2px-h,.mar-l-min-2px-r{margin-right:2px}
	.mar-l-min-2px,.mar-l-min-2px-v,.mar-l-min-2px-t{margin-top:2px}
	.mar-l-min-2px,.mar-l-min-2px-v,.mar-l-min-2px-b{margin-bottom:2px}
	.mar-l-min-4px,.mar-l-min-4px-h,.mar-l-min-4px-l{margin-left:4px}
	.mar-l-min-4px,.mar-l-min-4px-h,.mar-l-min-4px-r{margin-right:4px}
	.mar-l-min-4px,.mar-l-min-4px-v,.mar-l-min-4px-t{margin-top:4px}
	.mar-l-min-4px,.mar-l-min-4px-v,.mar-l-min-4px-b{margin-bottom:4px}
	.mar-l-min-8px,.mar-l-min-8px-h,.mar-l-min-8px-l{margin-left:8px}
	.mar-l-min-8px,.mar-l-min-8px-h,.mar-l-min-8px-r{margin-right:8px}
	.mar-l-min-8px,.mar-l-min-8px-v,.mar-l-min-8px-t{margin-top:8px}
	.mar-l-min-8px,.mar-l-min-8px-v,.mar-l-min-8px-b{margin-bottom:8px}
	.mar-l-min-16px,.mar-l-min-16px-h,.mar-l-min-16px-l{margin-left:16px}
	.mar-l-min-16px,.mar-l-min-16px-h,.mar-l-min-16px-r{margin-right:16px}
	.mar-l-min-16px,.mar-l-min-16px-v,.mar-l-min-16px-t{margin-top:16px}
	.mar-l-min-16px,.mar-l-min-16px-v,.mar-l-min-16px-b{margin-bottom:16px}
	.mar-l-min-32px,.mar-l-min-32px-h,.mar-l-min-32px-l{margin-left:32px}
	.mar-l-min-32px,.mar-l-min-32px-h,.mar-l-min-32px-r{margin-right:32px}
	.mar-l-min-32px,.mar-l-min-32px-v,.mar-l-min-32px-t{margin-top:32px}
	.mar-l-min-32px,.mar-l-min-32px-v,.mar-l-min-32px-b{margin-bottom:32px}
	.mar-l-min-64px,.mar-l-min-64px-h,.mar-l-min-64px-l{margin-left:64px}
	.mar-l-min-64px,.mar-l-min-64px-h,.mar-l-min-64px-r{margin-right:64px}
	.mar-l-min-64px,.mar-l-min-64px-v,.mar-l-min-64px-t{margin-top:64px}
	.mar-l-min-64px,.mar-l-min-64px-v,.mar-l-min-64px-b{margin-bottom:64px}
	.-mar-l-min-2px,.-mar-l-min-2px-h,.-mar-l-min-2px-l{margin-left:-2px}
	.-mar-l-min-2px,.-mar-l-min-2px-h,.-mar-l-min-2px-r{margin-right:-2px}
	.-mar-l-min-2px,.-mar-l-min-2px-v,.-mar-l-min-2px-t{margin-top:-2px}
	.-mar-l-min-2px,.-mar-l-min-2px-v,.-mar-l-min-2px-b{margin-bottom:-2px}
	.-mar-l-min-4px,.-mar-l-min-4px-h,.-mar-l-min-4px-l{margin-left:-4px}
	.-mar-l-min-4px,.-mar-l-min-4px-h,.-mar-l-min-4px-r{margin-right:-4px}
	.-mar-l-min-4px,.-mar-l-min-4px-v,.-mar-l-min-4px-t{margin-top:-4px}
	.-mar-l-min-4px,.-mar-l-min-4px-v,.-mar-l-min-4px-b{margin-bottom:-4px}
	.-mar-l-min-8px,.-mar-l-min-8px-h,.-mar-l-min-8px-l{margin-left:-8px}
	.-mar-l-min-8px,.-mar-l-min-8px-h,.-mar-l-min-8px-r{margin-right:-8px}
	.-mar-l-min-8px,.-mar-l-min-8px-v,.-mar-l-min-8px-t{margin-top:-8px}
	.-mar-l-min-8px,.-mar-l-min-8px-v,.-mar-l-min-8px-b{margin-bottom:-8px}
	.-mar-l-min-16px,.-mar-l-min-16px-h,.-mar-l-min-16px-l{margin-left:-16px}
	.-mar-l-min-16px,.-mar-l-min-16px-h,.-mar-l-min-16px-r{margin-right:-16px}
	.-mar-l-min-16px,.-mar-l-min-16px-v,.-mar-l-min-16px-t{margin-top:-16px}
	.-mar-l-min-16px,.-mar-l-min-16px-v,.-mar-l-min-16px-b{margin-bottom:-16px}
	.-mar-l-min-32px,.-mar-l-min-32px-h,.-mar-l-min-32px-l{margin-left:-32px}
	.-mar-l-min-32px,.-mar-l-min-32px-h,.-mar-l-min-32px-r{margin-right:-32px}
	.-mar-l-min-32px,.-mar-l-min-32px-v,.-mar-l-min-32px-t{margin-top:-32px}
	.-mar-l-min-32px,.-mar-l-min-32px-v,.-mar-l-min-32px-b{margin-bottom:-32px}
	.-mar-l-min-64px,.-mar-l-min-64px-h,.-mar-l-min-64px-l{margin-left:-64px}
	.-mar-l-min-64px,.-mar-l-min-64px-h,.-mar-l-min-64px-r{margin-right:-64px}
	.-mar-l-min-64px,.-mar-l-min-64px-v,.-mar-l-min-64px-t{margin-top:-64px}
	.-mar-l-min-64px,.-mar-l-min-64px-v,.-mar-l-min-64px-b{margin-bottom:-64px}

	/* padding */
	.pad-l-min-0px,.pad-l-min-0px-h,.pad-l-min-0px-l{padding-left:0px}
	.pad-l-min-0px,.pad-l-min-0px-h,.pad-l-min-0px-r{padding-right:0px}
	.pad-l-min-0px,.pad-l-min-0px-v,.pad-l-min-0px-t{padding-top:0px}
	.pad-l-min-0px,.pad-l-min-0px-v,.pad-l-min-0px-b{padding-bottom:0px}
	.pad-l-min-2px,.pad-l-min-2px-h,.pad-l-min-2px-l{padding-left:2px}
	.pad-l-min-2px,.pad-l-min-2px-h,.pad-l-min-2px-r{padding-right:2px}
	.pad-l-min-2px,.pad-l-min-2px-v,.pad-l-min-2px-t{padding-top:2px}
	.pad-l-min-2px,.pad-l-min-2px-v,.pad-l-min-2px-b{padding-bottom:2px}
	.pad-l-min-4px,.pad-l-min-4px-h,.pad-l-min-4px-l{padding-left:4px}
	.pad-l-min-4px,.pad-l-min-4px-h,.pad-l-min-4px-r{padding-right:4px}
	.pad-l-min-4px,.pad-l-min-4px-v,.pad-l-min-4px-t{padding-top:4px}
	.pad-l-min-4px,.pad-l-min-4px-v,.pad-l-min-4px-b{padding-bottom:4px}
	.pad-l-min-8px,.pad-l-min-8px-h,.pad-l-min-8px-l{padding-left:8px}
	.pad-l-min-8px,.pad-l-min-8px-h,.pad-l-min-8px-r{padding-right:8px}
	.pad-l-min-8px,.pad-l-min-8px-v,.pad-l-min-8px-t{padding-top:8px}
	.pad-l-min-8px,.pad-l-min-8px-v,.pad-l-min-8px-b{padding-bottom:8px}
	.pad-l-min-16px,.pad-l-min-16px-h,.pad-l-min-16px-l{padding-left:16px}
	.pad-l-min-16px,.pad-l-min-16px-h,.pad-l-min-16px-r{padding-right:16px}
	.pad-l-min-16px,.pad-l-min-16px-v,.pad-l-min-16px-t{padding-top:16px}
	.pad-l-min-16px,.pad-l-min-16px-v,.pad-l-min-16px-b{padding-bottom:16px}
	.pad-l-min-32px,.pad-l-min-32px-h,.pad-l-min-32px-l{padding-left:32px}
	.pad-l-min-32px,.pad-l-min-32px-h,.pad-l-min-32px-r{padding-right:32px}
	.pad-l-min-32px,.pad-l-min-32px-v,.pad-l-min-32px-t{padding-top:32px}
	.pad-l-min-32px,.pad-l-min-32px-v,.pad-l-min-32px-b{padding-bottom:32px}
	.pad-l-min-64px,.pad-l-min-64px-h,.pad-l-min-64px-l{padding-left:64px}
	.pad-l-min-64px,.pad-l-min-64px-h,.pad-l-min-64px-r{padding-right:64px}
	.pad-l-min-64px,.pad-l-min-64px-v,.pad-l-min-64px-t{padding-top:64px}
	.pad-l-min-64px,.pad-l-min-64px-v,.pad-l-min-64px-b{padding-bottom:64px}

	/* font size */
	.fs-a-xxxxxs{font-size:11px}
	.fs-a-xxxxs{font-size:12px}
	.fs-a-xxxs{font-size:13px}
	.fs-a-xxs{font-size:14px}
	.fs-a-xs{font-size:15px}
	.fs-a-s{font-size:16px}
	.fs-a-m{font-size:20px}
	.fs-a-l{font-size:24px}
	.fs-a-xl{font-size:28px}
	.fs-a-xxl{font-size:32px}
	.fs-a-xxxl{font-size:32px}
	.fs-a-xxxxl{font-size:32px}
	.fs-a-xxxxxl{font-size:32px}
	.fs-a-s-min-xxxs{font-size:13px}
	.fs-a-s-min-xxs{font-size:14px}
	.fs-a-s-min-xs{font-size:15px}
	.fs-a-s-min-s{font-size:16px}
	.fs-a-s-min-m{font-size:20px}
	.fs-a-s-min-l{font-size:24px}
	.fs-a-s-min-xl{font-size:28px}
	.fs-a-s-min-xxl{font-size:32px}
	.fs-a-s-min-xxxl{font-size:32px}
	.fs-l-xxxs{font-size:12px}
	.fs-l-xxs{font-size:13px}
	.fs-l-xs{font-size:14px}
	.fs-l-s{font-size:15px}
	.fs-l-m{font-size:16px}
	.fs-l-l{font-size:20px}
	.fs-l-xl{font-size:24px}
	.fs-l-xxl{font-size:28px}
	.fs-l-xxxl{font-size:32px}

	/* height */
	.h-l-min-50p{height:50%}
	.h-l-min-100p{height:100%}
}

/* min xl */
@media (min-width: 1441px)
{
	/* visibility */
	.l-max{display:none!important}

	/* height */
	.h-xl-min-50p{height:50%}
	.h-xl-min-100p{height:100%}
}

/* min xxl */
@media (min-width: 1601px)
{
	/* visibility */
	.xl-max{display:none!important}

	/* height */
	.h-xxl-min-50p{height:50%}
	.h-xxl-min-100p{height:100%}
}

/* min xxxl */
@media (min-width: 1921px)
{
	/* visibility */
	.xxl-max{display:none!important}

	/* height */
	.h-xxxl-min-50p{height:50%}
	.h-xxxl-min-100p{height:100%}
}





