RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

deny from all

<Files index.php>
allow from all
</Files>

<Files *.css>
allow from all
</Files>

<Files *.js>
allow from all
</Files>

<Files *.png>
allow from all
</Files>